Source: wasta-multidesktop-bionic
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-multidesktop-bionic

Package: wasta-multidesktop-bionic
Architecture: all
Depends: at, jq, rename, slick-greeter, wasta-core-bionic, wasta-resources, wmctrl, ${shlibs:Depends}, ${misc:Depends}
Recommends: arc-theme, wasta-papirus, wasta-vertex-ubuntu
Conflicts: gdm3
Description: Wasta-Linux MultiDesktop
 Ensures cross-desktop compatibility between different desktop sessions.
 A lightdm script is executed on login to make necessary adjustments based
 on detected session in comparison to previously detected session.
 .
 Currently only GNOME, Cinnamon, and XFCE are supported.
